<div class="content">
  <div class="media-container">
    <img
      width="300px"
      height="340px"
      src="./media/octopus.svg"
      alt=""
      class="media"
    />
  </div>
  <main class="text-content">
    <h1 class="headline">Compress image</h1>
    <div class="support-text">
      <p>Supports jpg, png, and WebP</p>
      <p>Maximum file size: 10MB</p>
    </div>
    <form
      action="server/upload-image.php"
      method="post"
      enctype="multipart/form-data"
      class="action"
      id="uploadForm"
    >
      <div class="loading-container">
        <div class="loading-spinner"></div>
      </div>
      <label
        for="upload-image-input"
        class="upload-image-btn"
        tabindex="0"
        data-test-id="upload-image"
      >
        <img
          src="./media/plus-icon.svg"
          alt=""
          width="18px"
          height="18px"
          class="plus-icon"
        />
        Upload Image
        <input
          name="upload-image"
          id="upload-image-input"
          type="file"
          accept="image/png, image/jpeg, image/jpg, image/webp"
          required
          aria-hidden="true"
        />
      </label>
    </form>
  </main>
</div>
